.canvas {
    background: #FFFFFF url("./image/common/background20.gif") repeat fixed;
    width: 100%;
    height: 100%;
    position: relative;
}

/**工作流画布**/
.om-menu-container {  top: 0;  left: -999px  }
.om-menu-content {  width: auto;  background: url("./image/menu/menu_bg.gif") repeat-y scroll 0 0 #F0F0F0;  border: 1px solid #999999;  color: #222222;  padding: 4px !important;  *padding: 4px;
    -webkit-box-shadow: #999999 0px 0px 10px;
    -moz-box-shadow: #999999 0px 0px 10px;
    box-shadow: #999999 0px 0px 10px;
    border-radius: 2px;   }
.om-corner-all {    }
.om-corner-all li{ width: 100%; height: 26px;  border-bottom: 1px solid #dddddd; display: block; }
.om-corner-all li a{ color: #333; width: 100%; height: 25px; line-height: 25px; border-bottom: 1px solid #fff; background: url("./image/menu/menu_rightarrow.png") no-repeat 85px 9px; display: block; }
.om-corner-all li:hover{  background: #cccccc  }
.om-menu-item-sep {  background-color: #E0E0E0;  border-bottom: 1px solid;  color: #FFFFFF;  display: block;  line-height: 1px;  overflow: hidden  }
.om-menu-indicator span {  float: left;   white-space: nowrap;  word-break: keep-all;  overflow: hidden;  text-overflow: ellipsis;  *display: inline-block  }


/**工作流右侧**/
.left_box{ float: left; width: 100%;height: 100%}
.right_side{ float: right; width: 220px;border:1px solid #d5e1f5;height: 100% }
.right_side .toggle_collapse{background: #eff2fa;border-bottom: 1px solid #d5e1f5;}
.right_side .toggle_collapse h2{color: #666;}

/*底部伸缩panel*/
.bottomTips{position: absolute;bottom:0;z-index: 200;width:100%;height:26px;line-height:26px;
    font-size:12px;background-color:#add1f6;color:#444444;text-align: center}
.bottomTipsHover{background-color:#9bc7f5;color:#444444;cursor: pointer}
.bottomPanel{position:absolute;bottom:26px;
    z-index:100;width:100%;height:195px;overflow:auto;margin-bottom: -195px;
    background:#eaeaea url('./image/common/bottomPanelBg.png') repeat-x;}
.bottomPanelTable{border:1px #adadad solid;height:195px;width:100%;font-size: 12px;border-collapse: collapse;
    table-layout: fixed;
}
.bottomPanelTable th{height:22px;background-color: #e1e1e1;border-bottom: 1px #adadad solid;}
.tableContent{height:172px; }
.tableContentInnerDiv{height:172px;overflow:auto;}
.tableContentInnerTable{margin:0;width:100%; table-layout: fixed;}
.tableContentInnerTable tr td{height:20px;line-height: 20px;text-align: center;border-bottom:1px #adadad dashed;
    overflow:hidden;text-overflow:ellipsis;white-space: nowrap;
}
.om-messageBox-waiting{  z-index: 1499; }

/*工作流按钮*/
.workflow_button{float:right;margin:9px 10px 0 2px;}
.workflow_button li{float:left;display:inline;}
.workflow_button li a{float:left;width: auto;padding: 0 8px;font-size: 12px;display:block;height:30px;line-height:30px;border:1px solid #e5eaf3;overflow:hidden;text-align:center;color:#666;cursor: pointer;border-radius:2px;}
.workflow_button li a:hover{color:#288add;border:1px solid #bbbbbb;background: #fff;}
.workflow_button li a i{font-size: 16px;color: #666;margin: 0 3px 0 0;}
.workflow_button li a:hover i{color:#288add;}
.workflow_button li.split-line{float:left;background: #cecece;width:1px;height:20px;margin:7px 4px 0 4px; display: inline;}
.workflow_button li a.checked{ color:#288add;border:1px solid #bbbbbb;background: #fff;}
.workflow_button li a i.checked{color:#288add;}
