@charset "utf-8";
*{padding:0;margin:0;}
body{background:#fff;font-size:12px;font-family:"微软雅黑", "Microsoft YaHei", Arial,Helvetica,sans-serif;color:#797878;}
ul,li{list-style:none;}
img{border:none;}
a{text-decoration:none;cursor:pointer;color:#797878;}
a:hover{color:#797878;}
/* zoombox */
.zoombox{width:894px;height:535px;margin:10px auto 0 auto;padding:40px 44px 237px 42px;position:relative;background:url(./image/attachment/show_window.png) no-repeat left top;}
#slideshow{list-style:none;color:#fff;}
#slideshow span{display:none}
#wrapper{width:894px;margin:0px auto;display:none;}
#wrapper *{margin:0;padding:0}
#fullsize{position:relative;width:888px;height:446px;padding:2px;border:1px solid #ccc;}
#information{position:absolute;bottom:0;width:888px;height:0;background:#000;color:#fff;overflow:hidden;z-index:200;opacity:.5;filter:alpha(opacity=50)}
#information h3{ text-align: center; padding:4px 8px 3px;font-size:14px}
#information p{padding:0 8px 8px}
#image{width:888px}
#image img{position:absolute;z-index:25;width:auto;height:446px;}
.imgnav{position:absolute;width:25%;height:452px;cursor:pointer;z-index:150}
#imgprev{left:0;background:url(./image/attachment/left.gif) left center no-repeat}
#imgnext{right:0;background:url(./image/attachment/right.gif) right center no-repeat}
#imglink{position:absolute;height:452px;width:100%;z-index:100;opacity:.4;filter:alpha(opacity=40)}
/*.linkhover{background:url(/plat/medias/images/link.gif) center center no-repeat}*/
#thumbnails{margin-top:2px;}
#slideleft{float:left;width:27px;height:81px;background:url(./image/attachment/scroll-left.gif) left center no-repeat;}
#slideleft:hover{background-position:-28px center; }
#slideright{float:right;width:27px;height:81px;background:url(./image/attachment/scroll-right.gif) -1px center no-repeat}
#slideright:hover{background-position:-29px center;}
#slidearea{float:left;position:relative;width:824px;margin-left:5px;height:81px;overflow:hidden;}
#slider{position:absolute;left:0;height:81px}
#slider img{cursor:pointer;border:1px solid #fff;padding:2px;width:125px;height:75px;}