table {
    font-size: 12px;
}

a {
    padding: 5px 5px 0 0;
    font-size: 12px;
    color: #006af1;
    float: right;
}

.span_owner {
    width: auto;
    background-color: #EFF2F7;
    border: 1px solid #CCD5E4;
    border-radius: 5px 5px 5px 5px;
    cursor: default;
    float: left;
    height: auto !important;
    margin: 3px;
    overflow: hidden;
    padding: 2px 4px;
    white-space: nowrap;
    position: relative;
}
/**
   适当缩小默认最大宽度
 */
.qtip {
    max-width: 260px;
}

.qtip-w {
    max-width: 300px;
}
.qtip_page {width: 100%;height: 30px;margin-bottom: 10px;}
.qtip_page select{width: 150px;height: 30px;margin: 0 5px;float: left;}
.qtip_page a{padding:0;width: 28px;height: 28px;line-height: 28px;text-align: center;float: left;display: block;background: #f0f0f0;border: 1px solid #cecece;border-radius: 2px;margin-left: -1px}
.qtip_page a i{font-size: 16px;color: #666;}
.qtip_page a:hover{background: #f4f4f4;}